# Table of Contents
1. [Average Case](#predicting-coal-for-the-average-case)
2. [Best Case](#predicting-coal-for-the-best-case)
3. [Worst Case](#predicting-coal-for-the-worst-case)

# Predicting Coal for the Average Case

In [47]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn.ensemble import RandomForestRegressor
from sklearn.cross_validation import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
data = pd.read_csv("C:/Users/msteinme/Documents/bdifreightdollarpredictcoalavg.csv")
coal = data[['Date','BDI','Freight_MLR','Freight_RDF','Dollar_All','Coal']][215:1006]
coal_fdnew = np.array(coal)
coal_fdnew = pd.DataFrame(coal_fdnew)
coal_fdnew.columns = ['Date','BDI','Freight_MLR','Freight_RDF','Dollar_All','Coal']
print(coal_fdnew.dtypes)
coal_fdnew.tail()

Date           object
BDI            object
Freight_MLR    object
Freight_RDF    object
Dollar_All     object
Coal           object
dtype: object

          Date  BDI Freight_MLR Freight_RDF Dollar_All   Coal
786  3/13/2015  562         5.7         5.7     100.33  64.95
787  3/20/2015  591         5.7         5.7     97.909  64.05
788  3/27/2015  596         5.7         5.7     97.291   63.3
789   4/3/2015  588        5.65        5.65     96.545   55.6
790  4/10/2015  580        6.85        6.85     99.338  54.65

In [48]:
coal.describe()

                BDI  Freight_MLR  Freight_RDF  Dollar_All        Coal
count    791.000000   791.000000   791.000000  791.000000  791.000000
mean    2722.970923    15.471719    15.471719   88.876618   66.853034
std     2211.163051    10.855792    10.855792   12.761327   34.354293
min      513.000000     4.000000     4.000000   71.657000   20.900000
25%     1121.000000     8.775000     8.775000   80.177500   34.800000
50%     1888.000000    11.950000    11.950000   84.400000   62.900000
75%     3696.500000    18.275000    18.275000   93.385000   89.950000
max    11612.000000    73.350000    73.350000  119.900000  192.500000

In [49]:
from datetime import datetime
coal_fdnew['Date'] = pd.to_datetime(coal_fdnew['Date'])
date = coal_fdnew['Date']
coal_fdnew.dtypes

Date           datetime64[ns]
BDI                    object
Freight_MLR            object
Freight_RDF            object
Dollar_All             object
Coal                   object
dtype: object

In [24]:
import statsmodels.api as sm
import statsmodels.formula.api as smf
import matplotlib.pyplot as plt
from statsmodels.sandbox.regression.predstd import wls_prediction_std
X = coal[['BDI','Freight_MLR','Dollar_All']]
Y = coal[['Coal']]
X= sm.add_constant(X)
est= sm.OLS(Y,X).fit()
est.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                   Coal   R-squared:                       0.641
Model:                            OLS   Adj. R-squared:                  0.640
Method:                 Least Squares   F-statistic:                     468.4
Date:                Fri, 01 Apr 2016   Prob (F-statistic):          1.51e-174
Time:                        10:44:15   Log-Likelihood:                -3514.3
No. Observations:                 791   AIC:                             7037.
Df Residuals:                     787   BIC:                             7055.
Df Model:                           3
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [95.0% Conf. Int.]
-------------------------------------------------------------------------------
const         214.4230      7.709     27.815      0.000       199.290   229.556
BDI            -0.0119      0.001     -9.780      0.000        -0.014    -0.010
Freight_MLR     2.5352      0.269      9.433      0.000         2.008     3.063
Dollar_All     -1.7375      0.076    -22.972      0.000        -1.886    -1.589
==============================================================================
Omnibus:                      101.237   Durbin-Watson:                   0.092
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              147.612
Skew:                           0.900   Prob(JB):                     8.84e-33
Kurtosis:                       4.113   Cond. No.                     3.69e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.69e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [39]:
X = coal_fdnew[['BDI','Freight_MLR','Dollar_All']].values
y = coal_fdnew['Coal'].values
X_train, X_test, y_train, y_test= train_test_split(X,y,test_size=0.3,random_state=1)
forest=RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=10,
           max_features='auto', max_leaf_nodes=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           n_estimators=150, n_jobs=1, oob_score=False, random_state=None,
           verbose=0, warm_start=False)
forest.fit(X_train, y_train)
y_train_pred= forest.predict(X_train)
y_test_pred= forest.predict(X_test)
print('MSE train: %.3f, test: %.3f' % (mean_squared_error(y_train, y_train_pred),mean_squared_error(y_test, y_test_pred)))
print('R^2 train: %.3f, test: %.3f' % (r2_score(y_train, y_train_pred),r2_score(y_test,y_test_pred)))
print(forest.feature_importances_)

MSE train: 24.280, test: 112.556
R^2 train: 0.979, test: 0.906
[ 0.1348884   0.06212429  0.80298731]

In [51]:
coal_predicted_fd = forest.predict(X)
coal_predicted_fd = pd.DataFrame(coal_predicted_fd)
coal_fdnew['Predicted_Coal_RDF(MLR)'] = coal_predicted_fd
rdf_error = (abs(coal_fdnew['Predicted_Coal_RDF(MLR)'] - coal_fdnew['Coal'])/coal_fdnew['Coal'])*100
coal_fdnew['RDF_Error(MLR)'] = rdf_error

coal_predicted_fd2 = forest.predict(X)
coal_predicted_fd2 = pd.DataFrame(coal_predicted_fd2)
coal_fdnew['Predicted_Coal_RDF(RDF)'] = coal_predicted_fd2
rdf_error2 = (abs(coal_fdnew['Predicted_Coal_RDF(RDF)'] - coal_fdnew['Coal'])/coal_fdnew['Coal'])*100
coal_fdnew['RDF_Error(RDF)'] = rdf_error2
print("Average RDF error for mlr values is: %.3f" % (rdf_error.mean())) 
print("Average RDF error for rdf values is: %.3f" % (rdf_error2.mean())) 
coal_fdnew.head()

Average RDF error for mlr values is: 5.684
Average RDF error for rdf values is: 5.684

,Date,BDI,Freight_MLR,Freight_RDF,Dollar_All,Coal,Predicted_Coal_RDF(MLR),RDF_Error(MLR),Predicted_Coal_RDF(RDF),RDF_Error(RDF)
0,2000-02-18,1454,7.5,7.5,104.63,21.3,23.448197,10.0854,23.448197,10.0854
1,2000-02-25,1511,7.5,7.5,105.26,21.3,22.730244,6.71476,22.730244,6.71476
2,2000-03-03,1578,7.75,7.75,106,20.9,22.258870,6.50177,22.258870,6.50177
3,2000-03-10,1645,7.85,7.85,105.71,21,21.585929,2.79014,21.585929,2.79014
4,2000-03-17,1630,7.85,7.85,105.2,21,21.667909,3.18052,21.667909,3.18052

In [52]:
newpred2 = data [['Date','BDI','Freight_MLR','Freight_RDF','Dollar_All']][1006:]
newpred = data [['BDI','Freight_MLR','Dollar_All']][1006:]
newpred3 = data[['BDI','Freight_RDF','Dollar_All']][1006:]

In [53]:
#new predictions
newpred2 = np.array(newpred2)
newpred2 = pd.DataFrame(newpred2)
newpred2.columns = ['Date', 'BDI','Freight_MLR','Freight_RDF','Dollar_All']
newpred_predicted = forest.predict(newpred)
df_new_pred = pd.DataFrame(newpred_predicted)
newpred2['Predicted_Coal_RDF(MLR)'] = df_new_pred

newpred_predicted2 = forest.predict(newpred3)
df_new_pred2 = pd.DataFrame(newpred_predicted2)
newpred2['Predicted_Coal_RDF(RDF)'] = df_new_pred2

newpred2['Date'] = pd.to_datetime(newpred2['Date'])
newpred2

,Date,BDI,Freight_MLR,Freight_RDF,Dollar_All,Predicted_Coal_RDF(MLR),Predicted_Coal_RDF(RDF)
0,2015-04-17,597,4.21337,5.23284,97.52,60.966000,60.966000
1,2015-04-24,600,4.32159,5.25428,96.922,61.545333,61.545333
2,2015-05-01,587,4.52261,5.44168,95.297,59.648333,59.648333
3,2015-05-08,574,4.54533,5.44788,94.794,60.575000,60.575000
4,2015-05-15,634,5.07295,5.51438,93.135,62.349208,62.429208
5,2015-05-22,586,4.40428,5.40733,96.014,58.775667,58.775667
6,2015-05-29,589,4.27558,5.25428,96.907,58.779333,58.779333
7,2015-06-05,610,4.46348,5.24554,96.306,61.487667,61.487667
8,2015-06-12,642,4.81625,5.44168,94.972,62.311333,62.311333
9,2015-06-19,779,5.55999,5.32679,94.085,47.837293,48.025627
10,2015-06-26,823,5.5332,5.24481,95.472,25.813133,25.776609
11,2015-07-03,805,5.35214,5.06668,96.113,26.842514,26.811324
12,2015-07-10,874,5.66973,5.13253,96.025,24.992766,25.011576
13,2015-07-17,1048,6.14343,5.19068,97.862,25.178399,25.059795
14,2015-07-24,1086,6.40883,5.28791,97.244,25.287431,25.061128
15,2015-07-31,1131,6.59221,5.3885,97.336,25.287431,25.093402
16,2015-08-07,1200,6.85974,6.02597,97.563,25.426986,25.191622
17,2015-08-14,1055,6.38747,5.28791,96.52,25.304174,25.077871
18,2015-08-21,994,6.35933,5.38322,95.008,26.068189,25.852268
19,2015-08-28,903,5.78446,5.10639,96.106,25.069677,25.011576
20,2015-09-04,875,5.64171,5.06105,96.229,24.992766,25.011576
21,2015-09-11,818,5.55537,5.24481,95.194,26.317712,26.281188
22,2015-09-18,960,6.23277,5.32799,94.863,26.514536,26.289312
23,2015-09-25,943,5.93456,5.08571,96.269,25.125964,25.011576
24,2015-10-02,889,5.76671,5.26286,95.83,25.058766,25.011576
25,2015-10-09,809,5.57631,5.24481,94.813,28.099394,28.057870
26,2015-10-16,754,5.37769,5.33588,94.54,48.047305,48.047305
27,2015-10-23,774,5.05462,5.0725,97.127,46.473382,46.473382
28,2015-10-30,721,4.85018,5.12362,96.946,60.751750,60.751750
29,2015-11-06,631,4.1011,4.8503,99.168,61.347667,61.347667
...,...,...,...,...,...,...,...
1762,2020-12-02,2014,12.1243,11.1006,86.9715,67.273227,67.452491
1763,2020-12-03,2016,12.1335,11.1006,86.969,67.273227,67.452491
1764,2020-12-04,2018,12.1427,11.1006,86.9666,67.273227,67.452491
1765,2020-12-05,2020,12.1519,11.1006,86.9641,67.273227,67.452491
1766,2020-12-06,2022,12.1611,11.1006,86.9616,64.668262,64.926805
1767,2020-12-07,2024,12.1703,11.1006,86.9592,64.668262,64.926805
1768,2020-12-08,2026,12.1795,11.3441,86.9567,64.668262,65.121005
1769,2020-12-09,2028,12.1887,11.402,86.9542,64.668262,65.121005
1770,2020-12-10,2031,12.2023,11.402,86.9518,64.668262,65.121005
1771,2020-12-11,2033,12.2115,11.402,86.9493,64.668262,65.121005
1772,2020-12-12,2035,12.2206,11.5226,86.9468,64.668262,65.077338
1773,2020-12-13,2037,12.2298,11.5226,86.9444,64.668262,65.077338
1774,2020-12-14,2039,12.239,11.5226,86.9419,64.668262,65.077338
1775,2020-12-15,2041,12.2482,11.5226,86.9395,64.668262,65.077338
1776,2020-12-16,2043,12.2574,11.5226,86.937,64.738262,65.147338
1777,2020-12-17,2045,12.2666,11.5226,86.9345,64.738262,65.147338
1778,2020-12-18,2047,12.2758,11.5226,86.9321,64.738262,65.147338
1779,2020-12-19,2049,12.285,11.5226,86.9296,64.738262,65.147338
1780,2020-12-20,2051,12.2942,11.5226,86.9271,64.738262,65.147338
1781,2020-12-21,2053,12.3034,11.5226,86.9247,65.484734,65.147338
1782,2020-12-22,2055,12.3126,11.5226,86.9222,65.484734,65.147338
1783,2020-12-23,2057,12.3218,11.5226,86.9197,65.411401,65.074005
1784,2020-12-24,2059,12.3309,11.5226,86.9173,65.411401,65.074005
1785,2020-12-25,2061,12.3401,11.5226,86.9148,65.411401,65.074005
1786,2020-12-26,2063,12.3493,11.5226,86.9123,65.411401,65.074005
1787,2020-12-27,2065,12.3585,11.5226,86.9099,65.406401,65.069005
1788,2020-12-28,2067,12.3677,11.5226,86.9074,65.406401,65.069005
1789,2020-12-29,2069,12.3769,11.5226,86.9049,65.413668,65.069005
1790,2020-12-30,2071,12.3861,11.5226,86.9025,65.413668,65.069005
1791,2020-12-31,2073,12.3953,11.5226,86.9,65.413668,65.069005

In [54]:
frames = [coal_fdnew,newpred2]
combined = pd.concat(frames)
combined

,BDI,Coal,Date,Dollar_All,Freight_MLR,Freight_RDF,Predicted_Coal_RDF(MLR),Predicted_Coal_RDF(RDF),RDF_Error(MLR),RDF_Error(RDF)
0,1454,21.3,2000-02-18,104.63,7.5,7.5,23.448197,23.448197,10.0854,10.0854
1,1511,21.3,2000-02-25,105.26,7.5,7.5,22.730244,22.730244,6.71476,6.71476
2,1578,20.9,2000-03-03,106,7.75,7.75,22.258870,22.258870,6.50177,6.50177
3,1645,21,2000-03-10,105.71,7.85,7.85,21.585929,21.585929,2.79014,2.79014
4,1630,21,2000-03-17,105.2,7.85,7.85,21.667909,21.667909,3.18052,3.18052
5,1618,21,2000-03-24,104.77,7.85,7.85,21.982143,21.982143,4.67687,4.67687
6,1660,21,2000-03-31,105.44,7.85,7.85,21.644483,21.644483,3.06897,3.06897
7,1684,21.2,2000-04-07,105.97,7.95,7.95,21.722302,21.722302,2.46369,2.46369
8,1676,21.4,2000-04-14,105.47,8.1,8.1,21.841188,21.841188,2.06162,2.06162
9,1656,21.5,2000-04-21,107.45,8.1,8.1,22.049740,22.049740,2.55693,2.55693
10,1628,21.6,2000-04-28,110.14,8.1,8.1,22.523800,22.523800,4.27685,4.27685
11,1609,21.6,2000-05-05,111.31,8,8,23.267585,23.267585,7.7203,7.7203
12,1616,22,2000-05-12,109.9,7.8,7.8,22.480760,22.480760,2.18527,2.18527
13,1607,22.5,2000-05-19,111.47,7.55,7.55,26.287920,26.287920,16.8352,16.8352
14,1576,23,2000-05-26,109.12,7.25,7.25,25.137635,25.137635,9.29407,9.29407
15,1562,23.2,2000-06-02,108.12,7,7,23.747408,23.747408,2.35952,2.35952
16,1564,23.3,2000-06-09,106.99,7,7,23.635145,23.635145,1.43839,1.43839
17,1586,23.4,2000-06-16,105.96,7,7,23.451772,23.451772,0.22125,0.22125
18,1624,23.6,2000-06-23,108.1,7.6,7.6,23.564191,23.564191,0.151732,0.151732
19,1616,23.8,2000-06-30,106.84,7.75,7.75,22.927494,22.927494,3.66599,3.66599
20,1601,24.1,2000-07-07,107.65,7.75,7.75,23.423750,23.423750,2.80602,2.80602
21,1616,24.3,2000-07-14,108.45,7.7,7.7,23.721023,23.721023,2.38262,2.38262
22,1628,24.4,2000-07-21,108.44,7.75,7.75,23.767929,23.767929,2.59045,2.59045
23,1634,24.6,2000-07-28,109.74,7.85,7.85,23.229583,23.229583,5.5708,5.5708
24,1650,24.8,2000-08-04,110.85,7.85,7.85,24.781712,24.781712,0.0737435,0.0737435
25,1640,25,2000-08-11,111.21,8,8,25.056538,25.056538,0.226153,0.226153
26,1629,25.2,2000-08-18,111.01,8,8,24.773597,24.773597,1.69207,1.69207
27,1638,25.5,2000-08-25,111.35,8,8,25.248691,25.248691,0.985526,0.985526
28,1661,25.75,2000-09-01,111.42,7.95,7.95,25.732449,25.732449,0.0681601,0.0681601
29,1696,26.25,2000-09-08,114.34,8,8,26.326389,26.326389,0.291005,0.291005
...,...,...,...,...,...,...,...,...,...,...
1762,2014,NaN,2020-12-02,86.9715,12.1243,11.1006,67.273227,67.452491,NaN,NaN
1763,2016,NaN,2020-12-03,86.969,12.1335,11.1006,67.273227,67.452491,NaN,NaN
1764,2018,NaN,2020-12-04,86.9666,12.1427,11.1006,67.273227,67.452491,NaN,NaN
1765,2020,NaN,2020-12-05,86.9641,12.1519,11.1006,67.273227,67.452491,NaN,NaN
1766,2022,NaN,2020-12-06,86.9616,12.1611,11.1006,64.668262,64.926805,NaN,NaN
1767,2024,NaN,2020-12-07,86.9592,12.1703,11.1006,64.668262,64.926805,NaN,NaN
1768,2026,NaN,2020-12-08,86.9567,12.1795,11.3441,64.668262,65.121005,NaN,NaN
1769,2028,NaN,2020-12-09,86.9542,12.1887,11.402,64.668262,65.121005,NaN,NaN
1770,2031,NaN,2020-12-10,86.9518,12.2023,11.402,64.668262,65.121005,NaN,NaN
1771,2033,NaN,2020-12-11,86.9493,12.2115,11.402,64.668262,65.121005,NaN,NaN
1772,2035,NaN,2020-12-12,86.9468,12.2206,11.5226,64.668262,65.077338,NaN,NaN
1773,2037,NaN,2020-12-13,86.9444,12.2298,11.5226,64.668262,65.077338,NaN,NaN
1774,2039,NaN,2020-12-14,86.9419,12.239,11.5226,64.668262,65.077338,NaN,NaN
1775,2041,NaN,2020-12-15,86.9395,12.2482,11.5226,64.668262,65.077338,NaN,NaN
1776,2043,NaN,2020-12-16,86.937,12.2574,11.5226,64.738262,65.147338,NaN,NaN
1777,2045,NaN,2020-12-17,86.9345,12.2666,11.5226,64.738262,65.147338,NaN,NaN
1778,2047,NaN,2020-12-18,86.9321,12.2758,11.5226,64.738262,65.147338,NaN,NaN
1779,2049,NaN,2020-12-19,86.9296,12.285,11.5226,64.738262,65.147338,NaN,NaN
1780,2051,NaN,2020-12-20,86.9271,12.2942,11.5226,64.738262,65.147338,NaN,NaN
1781,2053,NaN,2020-12-21,86.9247,12.3034,11.5226,65.484734,65.147338,NaN,NaN
1782,2055,NaN,2020-12-22,86.9222,12.3126,11.5226,65.484734,65.147338,NaN,NaN
1783,2057,NaN,2020-12-23,86.9197,12.3218,11.5226,65.411401,65.074005,NaN,NaN
1784,2059,NaN,2020-12-24,86.9173,12.3309,11.5226,65.411401,65.074005,NaN,NaN
1785,2061,NaN,2020-12-25,86.9148,12.3401,11.5226,65.411401,65.074005,NaN,NaN
1786,2063,NaN,2020-12-26,86.9123,12.3493,11.5226,65.411401,65.074005,NaN,NaN
1787,2065,NaN,2020-12-27,86.9099,12.3585,11.5226,65.406401,65.069005,NaN,NaN
1788,2067,NaN,2020-12-28,86.9074,12.3677,11.5226,65.406401,65.069005,NaN,NaN
1789,2069,NaN,2020-12-29,86.9049,12.3769,11.5226,65.413668,65.069005,NaN,NaN
1790,2071,NaN,2020-12-30,86.9025,12.3861,11.5226,65.413668,65.069005,NaN,NaN
1791,2073,NaN,2020-12-31,86.9,12.3953,11.5226,65.413668,65.069005,NaN,NaN

In [55]:
combined.to_csv("C:/Users/msteinme/Documents/coalavg.csv")

# Predicting Coal for the Best Case
[Top](#Table-of-contents)

In [57]:
data = pd.read_csv("C:/Users/msteinme/Documents/bdifreightdollarpredictcoalbest.csv")
coal = data[['Date','BDI','Freight_MLR','Freight_RDF','Dollar_All','Coal']][215:1006]
coal_fdnew = np.array(coal)
coal_fdnew = pd.DataFrame(coal_fdnew)
coal_fdnew.columns = ['Date','BDI','Freight_MLR','Freight_RDF','Dollar_All','Coal']
print(coal_fdnew.dtypes)
coal_fdnew.head()

Date           object
BDI            object
Freight_MLR    object
Freight_RDF    object
Dollar_All     object
Coal           object
dtype: object

        Date   BDI Freight_MLR Freight_RDF Dollar_All  Coal
0  2/18/2000  1454         7.5         7.5     104.63  21.3
1  2/25/2000  1511         7.5         7.5     105.26  21.3
2   3/3/2000  1578        7.75        7.75        106  20.9
3  3/10/2000  1645        7.85        7.85     105.71    21
4  3/17/2000  1630        7.85        7.85      105.2    21

In [58]:
coal.describe() #make sure same as in avg model

                BDI  Freight_MLR  Freight_RDF  Dollar_All        Coal
count    791.000000   791.000000   791.000000  791.000000  791.000000
mean    2722.970923    15.471719    15.471719   88.876618   66.853034
std     2211.163051    10.855792    10.855792   12.761327   34.354293
min      513.000000     4.000000     4.000000   71.657000   20.900000
25%     1121.000000     8.775000     8.775000   80.177500   34.800000
50%     1888.000000    11.950000    11.950000   84.400000   62.900000
75%     3696.500000    18.275000    18.275000   93.385000   89.950000
max    11612.000000    73.350000    73.350000  119.900000  192.500000

In [59]:
from datetime import datetime
coal_fdnew['Date'] = pd.to_datetime(coal_fdnew['Date'])
date = coal_fdnew['Date']
coal_fdnew.dtypes

Date           datetime64[ns]
BDI                    object
Freight_MLR            object
Freight_RDF            object
Dollar_All             object
Coal                   object
dtype: object

In [87]:
#freight_mlr and freight_rdf same at this point but after in predictions then they are different
X = coal_fdnew[['BDI','Freight_MLR','Dollar_All']].values
y = coal_fdnew['Coal'].values
X_train, X_test, y_train, y_test= train_test_split(X,y,test_size=0.3,random_state=1)
forest=RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=10,
           max_features='auto', max_leaf_nodes=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           n_estimators=150, n_jobs=1, oob_score=False, random_state=None,
           verbose=0, warm_start=False)
forest.fit(X_train, y_train)
y_train_pred= forest.predict(X_train)
y_test_pred= forest.predict(X_test)
print('MSE train: %.3f, test: %.3f' % (mean_squared_error(y_train, y_train_pred),mean_squared_error(y_test, y_test_pred)))
print('R^2 train: %.3f, test: %.3f' % (r2_score(y_train, y_train_pred),r2_score(y_test,y_test_pred)))
print(forest.feature_importances_)

MSE train: 26.007, test: 114.288
R^2 train: 0.978, test: 0.904
[ 0.13582288  0.06166584  0.80251127]

In [88]:
coal_predicted_fd = forest.predict(X)
coal_predicted_fd = pd.DataFrame(coal_predicted_fd)
coal_fdnew['Predicted_Coal_RDF(MLR)'] = coal_predicted_fd
rdf_error = (abs(coal_fdnew['Predicted_Coal_RDF(MLR)'] - coal_fdnew['Coal'])/coal_fdnew['Coal'])*100
coal_fdnew['RDF_Error(MLR)'] = rdf_error

coal_predicted_fd2 = forest.predict(X)
coal_predicted_fd2 = pd.DataFrame(coal_predicted_fd2)
coal_fdnew['Predicted_Coal_RDF(RDF)'] = coal_predicted_fd2
rdf_error2 = (abs(coal_fdnew['Predicted_Coal_RDF(RDF)'] - coal_fdnew['Coal'])/coal_fdnew['Coal'])*100
coal_fdnew['RDF_Error(RDF)'] = rdf_error2
print("Average RDF error for mlr values is: %.3f" % (rdf_error.mean())) 
print("Average RDF error for rdf values is: %.3f" % (rdf_error2.mean())) 
coal_fdnew.head()

Average RDF error for mlr values is: 5.676
Average RDF error for rdf values is: 5.676

,Date,BDI,Freight_MLR,Freight_RDF,Dollar_All,Coal,Predicted_Coal_RDF(MLR),RDF_Error(MLR),Predicted_Coal_RDF(RDF),RDF_Error(RDF)
0,2000-02-18,1454,7.5,7.5,104.63,21.3,23.400458,9.8613,23.400458,9.8613
1,2000-02-25,1511,7.5,7.5,105.26,21.3,22.652825,6.35129,22.652825,6.35129
2,2000-03-03,1578,7.75,7.75,106,20.9,22.348198,6.92918,22.348198,6.92918
3,2000-03-10,1645,7.85,7.85,105.71,21,21.398488,1.89756,21.398488,1.89756
4,2000-03-17,1630,7.85,7.85,105.2,21,21.571243,2.72021,21.571243,2.72021

In [89]:
newpred2 = data [['Date','BDI','Freight_MLR','Freight_RDF','Dollar_All']][1006:]
newpred = data [['BDI','Freight_MLR','Dollar_All']][1006:]
newpred3 = data[['BDI','Freight_RDF','Dollar_All']][1006:]
newpred2.tail()

            Date   BDI  Freight_MLR  Freight_RDF  Dollar_All
2793  12/27/2020  3880    20.644691    19.439625   85.020822
2794  12/28/2020  3884    20.663119    19.439625   85.015616
2795  12/29/2020  3888    20.681546    19.426144   85.010411
2796  12/30/2020  3892    20.699973    19.426144   85.005205
2797  12/31/2020  3897    20.722800    19.426144   85.000000

In [90]:
#new predictions
newpred2 = np.array(newpred2)
newpred2 = pd.DataFrame(newpred2)
newpred2.columns = ['Date', 'BDI','Freight_MLR','Freight_RDF','Dollar_All']
newpred_predicted = forest.predict(newpred)
df_new_pred = pd.DataFrame(newpred_predicted)
newpred2['Predicted_Coal_RDF(MLR)'] = df_new_pred

newpred_predicted2 = forest.predict(newpred3)
df_new_pred2 = pd.DataFrame(newpred_predicted2)
newpred2['Predicted_Coal_RDF(RDF)'] = df_new_pred2

newpred2['Date'] = pd.to_datetime(newpred2['Date'])
newpred2

,Date,BDI,Freight_MLR,Freight_RDF,Dollar_All,Predicted_Coal_RDF(MLR),Predicted_Coal_RDF(RDF)
0,2015-04-17,597,4.21337,5.37363,97.52,60.611556,60.458222
1,2015-04-24,600,4.32159,5.39548,96.922,61.088248,60.934914
2,2015-05-01,587,4.52261,5.53049,95.297,59.798222,59.732222
3,2015-05-08,574,4.54533,5.53464,94.794,60.433222,60.361889
4,2015-05-15,634,5.07295,5.61216,93.135,62.027914,61.571581
5,2015-05-22,586,4.40428,5.51584,96.014,58.897222,58.775889
6,2015-05-29,589,4.27558,5.39548,96.907,58.940222,58.786889
7,2015-06-05,610,4.46348,5.38857,96.306,60.989914,60.836581
8,2015-06-12,642,4.81625,5.53049,94.972,61.924248,61.906248
9,2015-06-19,779,5.55999,5.45098,94.085,48.285956,48.418622
10,2015-06-26,823,5.5332,5.26609,95.472,26.198757,26.301157
11,2015-07-03,805,5.35214,5.12318,96.113,26.154090,26.301157
12,2015-07-10,874,5.66973,5.14926,96.025,25.894090,26.041157
13,2015-07-17,1048,6.14343,5.15769,97.862,25.906422,25.871128
14,2015-07-24,1086,6.40883,5.26675,97.244,26.271768,26.126528
15,2015-07-31,1131,6.59221,5.37795,97.336,26.271768,25.984861
16,2015-08-07,1200,6.85974,6.17283,97.563,26.210493,26.220808
17,2015-08-14,1055,6.38747,5.26544,96.52,26.275768,26.130528
18,2015-08-21,994,6.35933,5.35679,95.008,26.769505,26.523686
19,2015-08-28,903,5.78446,5.15179,96.106,26.021900,26.041157
20,2015-09-04,875,5.64171,5.14003,96.229,25.903174,26.050240
21,2015-09-11,818,5.55537,5.25907,95.194,26.456730,26.559130
22,2015-09-18,960,6.23277,5.33801,94.863,26.957882,26.712064
23,2015-09-25,943,5.93456,5.16574,96.269,26.077802,26.050240
24,2015-10-02,889,5.76671,5.26896,95.83,26.021900,26.041157
25,2015-10-09,809,5.57631,5.25907,94.813,26.955397,27.057797
26,2015-10-16,754,5.37769,5.40134,94.54,48.428656,48.428656
27,2015-10-23,774,5.05462,5.19056,97.127,47.293416,47.293416
28,2015-10-30,721,4.85018,5.24038,96.946,60.650895,60.650895
29,2015-11-06,631,4.1011,4.90199,99.168,60.373889,60.373889
...,...,...,...,...,...,...,...
1762,2020-12-02,3779,20.1796,19.4961,85.151,50.800237,51.156153
1763,2020-12-03,3783,20.198,19.4961,85.1458,50.800237,51.156153
1764,2020-12-04,3787,20.2165,19.4859,85.1405,50.800237,51.156153
1765,2020-12-05,3791,20.2349,19.4859,85.1353,50.800237,51.156153
1766,2020-12-06,3795,20.2533,19.4859,85.1301,50.691014,51.046931
1767,2020-12-07,3799,20.2717,19.4859,85.1249,50.740514,51.096431
1768,2020-12-08,3803,20.2902,19.4859,85.1197,51.057411,51.745661
1769,2020-12-09,3807,20.3086,19.5066,85.1145,51.057411,51.421661
1770,2020-12-10,3811,20.327,19.5066,85.1093,51.057411,51.421661
1771,2020-12-11,3815,20.3455,19.5066,85.1041,50.963688,51.336272
1772,2020-12-12,3819,20.3639,19.5066,85.0989,51.005791,51.378375
1773,2020-12-13,3823,20.3823,19.4847,85.0937,51.105325,51.960375
1774,2020-12-14,3827,20.4007,19.4396,85.0885,51.262182,52.294708
1775,2020-12-15,3831,20.4192,19.4396,85.0833,51.262182,52.294708
1776,2020-12-16,3835,20.4376,19.4396,85.0781,50.876464,51.908990
1777,2020-12-17,3839,20.456,19.4396,85.0729,50.863864,51.908990
1778,2020-12-18,3843,20.4744,19.4396,85.0677,50.863864,51.908990
1779,2020-12-19,3847,20.4929,19.4396,85.0625,50.863864,51.908990
1780,2020-12-20,3852,20.5157,19.4396,85.0573,50.538731,51.556657
1781,2020-12-21,3856,20.5341,19.4396,85.0521,50.541597,51.558657
1782,2020-12-22,3860,20.5526,19.4396,85.0468,50.543931,51.560990
1783,2020-12-23,3864,20.571,19.4396,85.0416,51.073302,52.117695
1784,2020-12-24,3868,20.5894,19.4396,85.0364,51.073302,52.117695
1785,2020-12-25,3872,20.6078,19.4396,85.0312,51.073302,52.117695
1786,2020-12-26,3876,20.6263,19.4396,85.026,51.166635,52.117695
1787,2020-12-27,3880,20.6447,19.4396,85.0208,50.829635,51.780695
1788,2020-12-28,3884,20.6631,19.4396,85.0156,50.767885,51.718945
1789,2020-12-29,3888,20.6815,19.4261,85.0104,50.767885,51.724945
1790,2020-12-30,3892,20.7,19.4261,85.0052,50.767885,51.724945
1791,2020-12-31,3897,20.7228,19.4261,85,50.720885,51.724945

In [91]:
frames = [coal_fdnew,newpred2]
combined = pd.concat(frames)
combined

,BDI,Coal,Date,Dollar_All,Freight_MLR,Freight_RDF,Predicted_Coal_RDF(MLR),Predicted_Coal_RDF(RDF),RDF_Error(MLR),RDF_Error(RDF)
0,1454,21.3,2000-02-18,104.63,7.5,7.5,23.400458,23.400458,9.8613,9.8613
1,1511,21.3,2000-02-25,105.26,7.5,7.5,22.652825,22.652825,6.35129,6.35129
2,1578,20.9,2000-03-03,106,7.75,7.75,22.348198,22.348198,6.92918,6.92918
3,1645,21,2000-03-10,105.71,7.85,7.85,21.398488,21.398488,1.89756,1.89756
4,1630,21,2000-03-17,105.2,7.85,7.85,21.571243,21.571243,2.72021,2.72021
5,1618,21,2000-03-24,104.77,7.85,7.85,22.123515,22.123515,5.35007,5.35007
6,1660,21,2000-03-31,105.44,7.85,7.85,21.317419,21.317419,1.51152,1.51152
7,1684,21.2,2000-04-07,105.97,7.95,7.95,21.506748,21.506748,1.44693,1.44693
8,1676,21.4,2000-04-14,105.47,8.1,8.1,21.720470,21.720470,1.49752,1.49752
9,1656,21.5,2000-04-21,107.45,8.1,8.1,22.198581,22.198581,3.24922,3.24922
10,1628,21.6,2000-04-28,110.14,8.1,8.1,22.800870,22.800870,5.55958,5.55958
11,1609,21.6,2000-05-05,111.31,8,8,23.228203,23.228203,7.53798,7.53798
12,1616,22,2000-05-12,109.9,7.8,7.8,22.680857,22.680857,3.09481,3.09481
13,1607,22.5,2000-05-19,111.47,7.55,7.55,25.895385,25.895385,15.0906,15.0906
14,1576,23,2000-05-26,109.12,7.25,7.25,25.207084,25.207084,9.59602,9.59602
15,1562,23.2,2000-06-02,108.12,7,7,23.645339,23.645339,1.91957,1.91957
16,1564,23.3,2000-06-09,106.99,7,7,23.630036,23.630036,1.41646,1.41646
17,1586,23.4,2000-06-16,105.96,7,7,23.247336,23.247336,0.652408,0.652408
18,1624,23.6,2000-06-23,108.1,7.6,7.6,23.599406,23.599406,0.00251527,0.00251527
19,1616,23.8,2000-06-30,106.84,7.75,7.75,23.059442,23.059442,3.11159,3.11159
20,1601,24.1,2000-07-07,107.65,7.75,7.75,23.478762,23.478762,2.57775,2.57775
21,1616,24.3,2000-07-14,108.45,7.7,7.7,23.712810,23.712810,2.41642,2.41642
22,1628,24.4,2000-07-21,108.44,7.75,7.75,23.769399,23.769399,2.58443,2.58443
23,1634,24.6,2000-07-28,109.74,7.85,7.85,23.461810,23.461810,4.62679,4.62679
24,1650,24.8,2000-08-04,110.85,7.85,7.85,24.668367,24.668367,0.530779,0.530779
25,1640,25,2000-08-11,111.21,8,8,24.883127,24.883127,0.467491,0.467491
26,1629,25.2,2000-08-18,111.01,8,8,24.771695,24.771695,1.69962,1.69962
27,1638,25.5,2000-08-25,111.35,8,8,25.340199,25.340199,0.62667,0.62667
28,1661,25.75,2000-09-01,111.42,7.95,7.95,25.743165,25.743165,0.026543,0.026543
29,1696,26.25,2000-09-08,114.34,8,8,26.320301,26.320301,0.267812,0.267812
...,...,...,...,...,...,...,...,...,...,...
1762,3779,NaN,2020-12-02,85.151,20.1796,19.4961,50.800237,51.156153,NaN,NaN
1763,3783,NaN,2020-12-03,85.1458,20.198,19.4961,50.800237,51.156153,NaN,NaN
1764,3787,NaN,2020-12-04,85.1405,20.2165,19.4859,50.800237,51.156153,NaN,NaN
1765,3791,NaN,2020-12-05,85.1353,20.2349,19.4859,50.800237,51.156153,NaN,NaN
1766,3795,NaN,2020-12-06,85.1301,20.2533,19.4859,50.691014,51.046931,NaN,NaN
1767,3799,NaN,2020-12-07,85.1249,20.2717,19.4859,50.740514,51.096431,NaN,NaN
1768,3803,NaN,2020-12-08,85.1197,20.2902,19.4859,51.057411,51.745661,NaN,NaN
1769,3807,NaN,2020-12-09,85.1145,20.3086,19.5066,51.057411,51.421661,NaN,NaN
1770,3811,NaN,2020-12-10,85.1093,20.327,19.5066,51.057411,51.421661,NaN,NaN
1771,3815,NaN,2020-12-11,85.1041,20.3455,19.5066,50.963688,51.336272,NaN,NaN
1772,3819,NaN,2020-12-12,85.0989,20.3639,19.5066,51.005791,51.378375,NaN,NaN
1773,3823,NaN,2020-12-13,85.0937,20.3823,19.4847,51.105325,51.960375,NaN,NaN
1774,3827,NaN,2020-12-14,85.0885,20.4007,19.4396,51.262182,52.294708,NaN,NaN
1775,3831,NaN,2020-12-15,85.0833,20.4192,19.4396,51.262182,52.294708,NaN,NaN
1776,3835,NaN,2020-12-16,85.0781,20.4376,19.4396,50.876464,51.908990,NaN,NaN
1777,3839,NaN,2020-12-17,85.0729,20.456,19.4396,50.863864,51.908990,NaN,NaN
1778,3843,NaN,2020-12-18,85.0677,20.4744,19.4396,50.863864,51.908990,NaN,NaN
1779,3847,NaN,2020-12-19,85.0625,20.4929,19.4396,50.863864,51.908990,NaN,NaN
1780,3852,NaN,2020-12-20,85.0573,20.5157,19.4396,50.538731,51.556657,NaN,NaN
1781,3856,NaN,2020-12-21,85.0521,20.5341,19.4396,50.541597,51.558657,NaN,NaN
1782,3860,NaN,2020-12-22,85.0468,20.5526,19.4396,50.543931,51.560990,NaN,NaN
1783,3864,NaN,2020-12-23,85.0416,20.571,19.4396,51.073302,52.117695,NaN,NaN
1784,3868,NaN,2020-12-24,85.0364,20.5894,19.4396,51.073302,52.117695,NaN,NaN
1785,3872,NaN,2020-12-25,85.0312,20.6078,19.4396,51.073302,52.117695,NaN,NaN
1786,3876,NaN,2020-12-26,85.026,20.6263,19.4396,51.166635,52.117695,NaN,NaN
1787,3880,NaN,2020-12-27,85.0208,20.6447,19.4396,50.829635,51.780695,NaN,NaN
1788,3884,NaN,2020-12-28,85.0156,20.6631,19.4396,50.767885,51.718945,NaN,NaN
1789,3888,NaN,2020-12-29,85.0104,20.6815,19.4261,50.767885,51.724945,NaN,NaN
1790,3892,NaN,2020-12-30,85.0052,20.7,19.4261,50.767885,51.724945,NaN,NaN
1791,3897,NaN,2020-12-31,85,20.7228,19.4261,50.720885,51.724945,NaN,NaN

In [92]:
combined.to_csv("C:/Users/msteinme/Documents/coalbest.csv")

# Predicting Coal for the Worst Case 
[Top](#Table-of-Contents)

In [106]:
data = pd.read_csv("C:/Users/msteinme/Documents/bdifreightdollarpredictcoalworst.csv")
coal = data[['Date','BDI','Freight_MLR','Freight_RDF','Dollar_All','Coal']][215:1006]
coal_fdnew = np.array(coal)
coal_fdnew = pd.DataFrame(coal_fdnew)
coal_fdnew.columns = ['Date','BDI','Freight_MLR','Freight_RDF','Dollar_All','Coal']
print(coal_fdnew.dtypes)
coal_fdnew.tail()

Date           object
BDI            object
Freight_MLR    object
Freight_RDF    object
Dollar_All     object
Coal           object
dtype: object

          Date  BDI Freight_MLR Freight_RDF Dollar_All   Coal
786  3/13/2015  562         5.7         5.7     100.33  64.95
787  3/20/2015  591         5.7         5.7     97.909  64.05
788  3/27/2015  596         5.7         5.7     97.291   63.3
789   4/3/2015  588        5.65        5.65     96.545   55.6
790  4/10/2015  580        6.85        6.85     99.338  54.65

In [107]:
coal.describe()

                BDI  Freight_MLR  Freight_RDF  Dollar_All        Coal
count    791.000000   791.000000   791.000000  791.000000  791.000000
mean    2722.970923    15.471719    15.471719   88.876618   66.853034
std     2211.163051    10.855792    10.855792   12.761327   34.354293
min      513.000000     4.000000     4.000000   71.657000   20.900000
25%     1121.000000     8.775000     8.775000   80.177500   34.800000
50%     1888.000000    11.950000    11.950000   84.400000   62.900000
75%     3696.500000    18.275000    18.275000   93.385000   89.950000
max    11612.000000    73.350000    73.350000  119.900000  192.500000

In [108]:
from datetime import datetime
coal_fdnew['Date'] = pd.to_datetime(coal_fdnew['Date'])
date = coal_fdnew['Date']
coal_fdnew.dtypes

Date           datetime64[ns]
BDI                    object
Freight_MLR            object
Freight_RDF            object
Dollar_All             object
Coal                   object
dtype: object

In [100]:
#freight_mlr and freight_rdf same at this point but after in predictions then they are different
X = coal_fdnew[['BDI','Freight_MLR','Dollar_All']].values
y = coal_fdnew['Coal'].values
X_train, X_test, y_train, y_test= train_test_split(X,y,test_size=0.3,random_state=1)
forest=RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=10,
           max_features='auto', max_leaf_nodes=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           n_estimators=150, n_jobs=1, oob_score=False, random_state=None,
           verbose=0, warm_start=False)
forest.fit(X_train, y_train)
y_train_pred= forest.predict(X_train)
y_test_pred= forest.predict(X_test)
print('MSE train: %.3f, test: %.3f' % (mean_squared_error(y_train, y_train_pred),mean_squared_error(y_test, y_test_pred)))
print('R^2 train: %.3f, test: %.3f' % (r2_score(y_train, y_train_pred),r2_score(y_test,y_test_pred)))
print(forest.feature_importances_)

MSE train: 26.374, test: 113.836
R^2 train: 0.978, test: 0.904
[ 0.13270538  0.06169961  0.80559502]

In [109]:
coal_predicted_fd = forest.predict(X)
coal_predicted_fd = pd.DataFrame(coal_predicted_fd)
coal_fdnew['Predicted_Coal_RDF(MLR)'] = coal_predicted_fd
rdf_error = (abs(coal_fdnew['Predicted_Coal_RDF(MLR)'] - coal_fdnew['Coal'])/coal_fdnew['Coal'])*100
coal_fdnew['RDF_Error(MLR)'] = rdf_error

coal_predicted_fd2 = forest.predict(X)
coal_predicted_fd2 = pd.DataFrame(coal_predicted_fd2)
coal_fdnew['Predicted_Coal_RDF(RDF)'] = coal_predicted_fd2
rdf_error2 = (abs(coal_fdnew['Predicted_Coal_RDF(RDF)'] - coal_fdnew['Coal'])/coal_fdnew['Coal'])*100
coal_fdnew['RDF_Error(RDF)'] = rdf_error2
print("Average RDF error for mlr values is: %.3f" % (rdf_error.mean())) 
print("Average RDF error for rdf values is: %.3f" % (rdf_error2.mean())) 
coal_fdnew.head()

Average RDF error for mlr values is: 5.719
Average RDF error for rdf values is: 5.719

,Date,BDI,Freight_MLR,Freight_RDF,Dollar_All,Coal,Predicted_Coal_RDF(MLR),RDF_Error(MLR),Predicted_Coal_RDF(RDF),RDF_Error(RDF)
0,2000-02-18,1454,7.5,7.5,104.63,21.3,23.217999,9.00469,23.217999,9.00469
1,2000-02-25,1511,7.5,7.5,105.26,21.3,22.563799,5.93333,22.563799,5.93333
2,2000-03-03,1578,7.75,7.75,106,20.9,22.505681,7.68268,22.505681,7.68268
3,2000-03-10,1645,7.85,7.85,105.71,21,21.749928,3.57109,21.749928,3.57109
4,2000-03-17,1630,7.85,7.85,105.2,21,21.698444,3.32592,21.698444,3.32592

In [111]:
newpred2 = data [['Date','BDI','Freight_MLR','Freight_RDF','Dollar_All','Coal']][1006:]
newpred = data [['BDI','Freight_MLR','Dollar_All']][1006:]
newpred3 = data[['BDI','Freight_RDF','Dollar_All']][1006:]
newpred2.head()

           Date  BDI  Freight_MLR  Freight_RDF  Dollar_All   Coal
1006  4/17/2015  597     4.213372     5.290366      97.520  57.90
1007  4/24/2015  600     4.321594     5.312064      96.922  58.55
1008   5/1/2015  587     4.522607     5.435922      95.297  62.20
1009   5/8/2015  574     4.545333     5.440822      94.794  61.85
1010  5/15/2015  634     5.072948     5.646518      93.135  61.30

In [112]:
#new predictions
newpred2 = np.array(newpred2)
newpred2 = pd.DataFrame(newpred2)
newpred2.columns = ['Date', 'BDI','Freight_MLR','Freight_RDF','Dollar_All','Coal']
newpred_predicted = forest.predict(newpred)
df_new_pred = pd.DataFrame(newpred_predicted)
newpred2['Predicted_Coal_RDF(MLR)'] = df_new_pred

newpred_predicted2 = forest.predict(newpred3)
df_new_pred2 = pd.DataFrame(newpred_predicted2)
newpred2['Predicted_Coal_RDF(RDF)'] = df_new_pred2

newpred2['Date'] = pd.to_datetime(newpred2['Date'])
newpred2

,Date,BDI,Freight_MLR,Freight_RDF,Dollar_All,Coal,Predicted_Coal_RDF(MLR),Predicted_Coal_RDF(RDF)
0,2015-04-17,597,4.21337,5.29037,97.52,57.9,61.779000,61.779000
1,2015-04-24,600,4.32159,5.31206,96.922,58.55,61.901333,61.901333
2,2015-05-01,587,4.52261,5.43592,95.297,62.2,59.918667,59.918667
3,2015-05-08,574,4.54533,5.44082,94.794,61.85,60.489667,60.489667
4,2015-05-15,634,5.07295,5.64652,93.135,61.3,62.450000,62.074958
5,2015-05-22,586,4.40428,5.40987,96.014,60,58.976333,58.976333
6,2015-05-29,589,4.27558,5.31693,96.907,60.05,59.111333,59.111333
7,2015-06-05,610,4.46348,5.30497,96.306,58.1,61.671000,61.671000
8,2015-06-12,642,4.81625,5.42106,94.972,60,62.449667,62.449667
9,2015-06-19,779,5.55999,5.38479,94.085,60.2,48.352550,48.445925
10,2015-06-26,823,5.5332,5.14115,95.472,60.2,26.312241,26.302949
11,2015-07-03,805,5.35214,5.02676,96.113,60.15,27.612077,27.618743
12,2015-07-10,874,5.66973,5.0773,96.025,60.3,25.870949,25.960616
13,2015-07-17,1048,6.14343,5.18394,97.862,60.3,25.839482,25.652296
14,2015-07-24,1086,6.40883,5.23437,97.244,60.4,26.122892,25.860963
15,2015-07-31,1131,6.59221,5.29411,97.336,60.3,26.122892,25.860963
16,2015-08-07,1200,6.85974,5.94349,97.563,60.05,26.104082,26.082558
17,2015-08-14,1055,6.38747,5.24073,96.52,59.35,26.321125,26.057196
18,2015-08-21,994,6.35933,5.27251,95.008,58.8,26.617399,26.352312
19,2015-08-28,903,5.78446,5.08234,96.106,58.5,26.053086,25.960616
20,2015-09-04,875,5.64171,5.06462,96.229,59.05,25.870949,25.960616
21,2015-09-11,818,5.55537,5.14115,95.194,57.7,27.549843,27.585218
22,2015-09-18,960,6.23277,5.22169,94.863,57.8,27.102144,26.828357
23,2015-09-25,943,5.93456,5.04812,96.269,57.55,26.126835,25.960616
24,2015-10-02,889,5.76671,5.18763,95.83,52.95,26.081616,26.005282
25,2015-10-09,809,5.57631,5.12335,94.813,53.6,28.527443,28.562818
26,2015-10-16,754,5.37769,5.3324,94.54,53.1,48.460149,48.460149
27,2015-10-23,774,5.05462,5.04305,97.127,52.8,47.273482,47.273482
28,2015-10-30,721,4.85018,5.14473,96.946,53.05,60.914419,60.927025
29,2015-11-06,631,4.1011,5.06047,99.168,52.15,61.243000,61.243000
...,...,...,...,...,...,...,...,...
1762,2020-12-02,250,3.8411,5.75157,90.2542,NaN,66.055721,65.037721
1763,2020-12-03,250,3.84249,5.75157,90.2455,NaN,66.055721,65.037721
1764,2020-12-04,250,3.84389,5.75157,90.2367,NaN,66.055721,65.037721
1765,2020-12-05,250,3.84528,5.75157,90.2279,NaN,66.055721,65.037721
1766,2020-12-06,250,3.84667,5.75157,90.2192,NaN,66.055721,65.037721
1767,2020-12-07,250,3.84807,5.75157,90.2104,NaN,65.979721,64.961721
1768,2020-12-08,250,3.84946,5.75157,90.2016,NaN,65.979721,64.961721
1769,2020-12-09,250,3.85085,5.75157,90.1929,NaN,65.979721,64.961721
1770,2020-12-10,250,3.85224,5.75157,90.1841,NaN,65.979721,64.961721
1771,2020-12-11,250,3.85364,5.75157,90.1753,NaN,66.041054,64.994054
1772,2020-12-12,250,3.85503,5.75157,90.1666,NaN,66.041054,64.994054
1773,2020-12-13,250,3.85642,5.75157,90.1578,NaN,66.041054,64.994054
1774,2020-12-14,250,3.85782,5.75157,90.149,NaN,66.240387,65.254387
1775,2020-12-15,250,3.85921,5.75157,90.1403,NaN,66.240387,65.254387
1776,2020-12-16,250,3.8606,5.75157,90.1315,NaN,66.240387,65.254387
1777,2020-12-17,250,3.862,5.75157,90.1227,NaN,66.240387,65.254387
1778,2020-12-18,250,3.86339,5.75157,90.114,NaN,66.240387,65.254387
1779,2020-12-19,250,3.86478,5.75157,90.1052,NaN,66.240387,65.254387
1780,2020-12-20,250,3.86618,5.75157,90.0964,NaN,66.240387,65.254387
1781,2020-12-21,250,3.86757,5.75157,90.0877,NaN,66.240387,65.254387
1782,2020-12-22,250,3.86896,5.75157,90.0789,NaN,66.240387,65.254387
1783,2020-12-23,250,3.87036,5.75157,90.0701,NaN,66.240387,65.254387
1784,2020-12-24,250,3.87175,5.75157,90.0614,NaN,66.240387,65.254387
1785,2020-12-25,250,3.87314,5.75157,90.0526,NaN,66.240387,65.254387
1786,2020-12-26,250,3.87453,5.75157,90.0438,NaN,66.240387,65.254387
1787,2020-12-27,250,3.87593,5.75157,90.0351,NaN,66.240387,65.254387
1788,2020-12-28,250,3.87732,5.75157,90.0263,NaN,66.240387,65.254387
1789,2020-12-29,250,3.87871,5.75157,90.0175,NaN,66.240387,65.254387
1790,2020-12-30,250,3.88011,5.75157,90.0088,NaN,66.240387,65.254387
1791,2020-12-31,250,3.8815,5.75157,90,NaN,66.240387,65.254387

In [105]:
frames = [coal_fdnew,newpred2]
combined = pd.concat(frames)
combined

,BDI,Coal,Date,Dollar_All,Freight_MLR,Freight_RDF,Predicted_Coal_RDF(MLR),Predicted_Coal_RDF(RDF),RDF_Error(MLR),RDF_Error(RDF)
0,1454,21.3,2000-02-18,104.63,7.5,7.5,23.217999,23.217999,9.00469,9.00469
1,1511,21.3,2000-02-25,105.26,7.5,7.5,22.563799,22.563799,5.93333,5.93333
2,1578,20.9,2000-03-03,106,7.75,7.75,22.505681,22.505681,7.68268,7.68268
3,1645,21,2000-03-10,105.71,7.85,7.85,21.749928,21.749928,3.57109,3.57109
4,1630,21,2000-03-17,105.2,7.85,7.85,21.698444,21.698444,3.32592,3.32592
5,1618,21,2000-03-24,104.77,7.85,7.85,22.073943,22.073943,5.11402,5.11402
6,1660,21,2000-03-31,105.44,7.85,7.85,21.672015,21.672015,3.20007,3.20007
7,1684,21.2,2000-04-07,105.97,7.95,7.95,21.746927,21.746927,2.57985,2.57985
8,1676,21.4,2000-04-14,105.47,8.1,8.1,21.861793,21.861793,2.15791,2.15791
9,1656,21.5,2000-04-21,107.45,8.1,8.1,22.140257,22.140257,2.97794,2.97794
10,1628,21.6,2000-04-28,110.14,8.1,8.1,22.914578,22.914578,6.08601,6.08601
11,1609,21.6,2000-05-05,111.31,8,8,23.411019,23.411019,8.38435,8.38435
12,1616,22,2000-05-12,109.9,7.8,7.8,22.722760,22.722760,3.28527,3.28527
13,1607,22.5,2000-05-19,111.47,7.55,7.55,26.275398,26.275398,16.7795,16.7795
14,1576,23,2000-05-26,109.12,7.25,7.25,25.403422,25.403422,10.4497,10.4497
15,1562,23.2,2000-06-02,108.12,7,7,23.697067,23.697067,2.14253,2.14253
16,1564,23.3,2000-06-09,106.99,7,7,23.698346,23.698346,1.70964,1.70964
17,1586,23.4,2000-06-16,105.96,7,7,23.639402,23.639402,1.02308,1.02308
18,1624,23.6,2000-06-23,108.1,7.6,7.6,23.589944,23.589944,0.0426097,0.0426097
19,1616,23.8,2000-06-30,106.84,7.75,7.75,23.132486,23.132486,2.80468,2.80468
20,1601,24.1,2000-07-07,107.65,7.75,7.75,23.466366,23.466366,2.62919,2.62919
21,1616,24.3,2000-07-14,108.45,7.7,7.7,23.805603,23.805603,2.03456,2.03456
22,1628,24.4,2000-07-21,108.44,7.75,7.75,23.847390,23.847390,2.26479,2.26479
23,1634,24.6,2000-07-28,109.74,7.85,7.85,23.296924,23.296924,5.29706,5.29706
24,1650,24.8,2000-08-04,110.85,7.85,7.85,24.746356,24.746356,0.216307,0.216307
25,1640,25,2000-08-11,111.21,8,8,25.056014,25.056014,0.224055,0.224055
26,1629,25.2,2000-08-18,111.01,8,8,24.895514,24.895514,1.20828,1.20828
27,1638,25.5,2000-08-25,111.35,8,8,25.413399,25.413399,0.339614,0.339614
28,1661,25.75,2000-09-01,111.42,7.95,7.95,25.863976,25.863976,0.442626,0.442626
29,1696,26.25,2000-09-08,114.34,8,8,26.347370,26.347370,0.370933,0.370933
...,...,...,...,...,...,...,...,...,...,...
1762,250,NaN,2020-12-02,90.2542,3.8411,5.75157,66.055721,65.037721,NaN,NaN
1763,250,NaN,2020-12-03,90.2455,3.84249,5.75157,66.055721,65.037721,NaN,NaN
1764,250,NaN,2020-12-04,90.2367,3.84389,5.75157,66.055721,65.037721,NaN,NaN
1765,250,NaN,2020-12-05,90.2279,3.84528,5.75157,66.055721,65.037721,NaN,NaN
1766,250,NaN,2020-12-06,90.2192,3.84667,5.75157,66.055721,65.037721,NaN,NaN
1767,250,NaN,2020-12-07,90.2104,3.84807,5.75157,65.979721,64.961721,NaN,NaN
1768,250,NaN,2020-12-08,90.2016,3.84946,5.75157,65.979721,64.961721,NaN,NaN
1769,250,NaN,2020-12-09,90.1929,3.85085,5.75157,65.979721,64.961721,NaN,NaN
1770,250,NaN,2020-12-10,90.1841,3.85224,5.75157,65.979721,64.961721,NaN,NaN
1771,250,NaN,2020-12-11,90.1753,3.85364,5.75157,66.041054,64.994054,NaN,NaN
1772,250,NaN,2020-12-12,90.1666,3.85503,5.75157,66.041054,64.994054,NaN,NaN
1773,250,NaN,2020-12-13,90.1578,3.85642,5.75157,66.041054,64.994054,NaN,NaN
1774,250,NaN,2020-12-14,90.149,3.85782,5.75157,66.240387,65.254387,NaN,NaN
1775,250,NaN,2020-12-15,90.1403,3.85921,5.75157,66.240387,65.254387,NaN,NaN
1776,250,NaN,2020-12-16,90.1315,3.8606,5.75157,66.240387,65.254387,NaN,NaN
1777,250,NaN,2020-12-17,90.1227,3.862,5.75157,66.240387,65.254387,NaN,NaN
1778,250,NaN,2020-12-18,90.114,3.86339,5.75157,66.240387,65.254387,NaN,NaN
1779,250,NaN,2020-12-19,90.1052,3.86478,5.75157,66.240387,65.254387,NaN,NaN
1780,250,NaN,2020-12-20,90.0964,3.86618,5.75157,66.240387,65.254387,NaN,NaN
1781,250,NaN,2020-12-21,90.0877,3.86757,5.75157,66.240387,65.254387,NaN,NaN
1782,250,NaN,2020-12-22,90.0789,3.86896,5.75157,66.240387,65.254387,NaN,NaN
1783,250,NaN,2020-12-23,90.0701,3.87036,5.75157,66.240387,65.254387,NaN,NaN
1784,250,NaN,2020-12-24,90.0614,3.87175,5.75157,66.240387,65.254387,NaN,NaN
1785,250,NaN,2020-12-25,90.0526,3.87314,5.75157,66.240387,65.254387,NaN,NaN
1786,250,NaN,2020-12-26,90.0438,3.87453,5.75157,66.240387,65.254387,NaN,NaN
1787,250,NaN,2020-12-27,90.0351,3.87593,5.75157,66.240387,65.254387,NaN,NaN
1788,250,NaN,2020-12-28,90.0263,3.87732,5.75157,66.240387,65.254387,NaN,NaN
1789,250,NaN,2020-12-29,90.0175,3.87871,5.75157,66.240387,65.254387,NaN,NaN
1790,250,NaN,2020-12-30,90.0088,3.88011,5.75157,66.240387,65.254387,NaN,NaN
1791,250,NaN,2020-12-31,90,3.8815,5.75157,66.240387,65.254387,NaN,NaN

In [113]:
combined.to_csv("C:/Users/msteinme/Documents/coalworst.csv")